* {
    box-sizing: border-box;
}

.my-container {
    background-color: #8a00cf;
    width: 80%;
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 60px auto;
    border-radius: 8px;
}

.my-item {
    height: 50px;
    background-color: #21f8bb;
    border: 4px solid black;
    border-radius: 10px;
    padding: 30px;
    flex-basis: 10%;
}

.self-top {
    align-self: flex-start;
}

.self-center {
    align-self: center;
}

.self-bottom {
    align-self: flex-end;
}