* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} 

@keyframes fadeOut {
	to {
		opacity: 0;
	}
}

p {
	font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width: 320px) {
	.ls-topbar {
		width: 100%;
		height: 110px;
		display: block;
		background-color: transparent;
		position: fixed;
		top: 0;
		left: 0;
	}

	.ls-logo {
		width: 74px;
		height: 110px;
		background-color: #2ccb69;
		float: left;
		margin-left: 60px;
		border-bottom-right-radius: 38px;
	}

	.ls-logo img {
		width: 46px;
		height: 31px;
		display: block;
		margin: 55px auto 0 auto;
	}

	.ls-page-wrapper, .ls-preloader-inner {
		width: 100%;
		height: 100vh;
		display: table;
		background-color: #1c1c1c;
		border: 30px solid #000;
	}

	.ls-page-wrapper section:first-child {
		height: calc(100vh - 30px);
	}

	.ls-preloader-inner {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		position: fixed;
		z-index: 10;

	.ls-menu {
		display: none;
	}
	}

	.ls-box-info {
		display: table;
	}

	.ls-contact-info {
		width: 245px;
		height: 165px;
		display: none;
		padding: 25px;
		position: fixed;
		bottom: 120px;
		right: 65px;
		z-index: 2;
	}

	.ls-contact-info p {
		font-size: 16px;
		line-height: 24px;
	}

	.ls-social-links {
		width: 100%;
		height: 45px;
		display: flex;
		justify-content: space-between;
		padding-right: 70px;
		margin-top: 15px;
	}

	.ls-social {
		width: 45px;
		height: 20px;
	}

	.ls-social > img {
		height: 100%;
	}

	.ls-corner {
		width: 100%;
		position: relative;
		left: 195px;
		/* display: inline-flex; */
		/* justify-content: end; */
		/* margin-left: 25px; */
	}

	.ls-corner .ls-corner-icon {
		width: 25px;
		height: 25px;
		display: block;
	}


	.ls-btn-contact {
		width: 45px;
		height: 45px;
		display: block;
		background-color: #2ccb69;
		background-image: url("../images/icon-contact-close.svg");
		background-repeat: no-repeat;
		position: fixed;
		bottom: 45px;
		right: 45px;
		border: none;
		border-radius: 50%;
		z-index: 2;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
	}

	/* --- HOME --- */
	.ls-display-text {
		margin-top: 6%;
	}

	.ls-home-presentation {
		background-image: url("../images/joao-lemon-designer-home.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 70% bottom;
	}
}

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
	.ls-menu {
		display: table;
		float: left;
		height: 110px;
		margin-left: 30px;
		padding-top: 50px;
	}

	.ls-menu a {
		font-family: "Open Sans";
		font-weight: 400;
		font-size: 16px;
		color: #e7e5e5;
		text-decoration: none;
		text-transform: lowercase;
		margin: 50px 20px 0 20px;
		position: relative;
	}

	.ls-menu a:first-child {
		margin-left: 0;
	}

	.ls-menu a:hover {
		color: #2ccb69;
		font-weight: 600;
	}

	.ls-menu a:before {
		content: "";
		display: block;
		background-color: #2ccb69;
		width: 100%;
		height: 3px;
		position: absolute;
		bottom: -6px;
		left: 0;
		transition: all 0.2s ease-in;
		transform: scale(0, 1);
		transform-origin: left;
	}

	.ls-menu a:hover:before {
		transform: scale(1, 1);
	}

}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1364px) {
}

/*Utiliraty Classes*/
.ls-mar-top-15 {
	margin-top: 15px;
}

.ls-mar-right-15 {
	margin-right: 15px;
}

.ls-mar-bottom-15 {
	margin-bottom: 15px;
}

.ls-mar-left-15 {
	margin-left: 15px;
}

.ls-text-green {
	color: #2ccb69;
}

.ls-text-black {
	color: #000;
}

.ls-text-light {
	color: #bcbcbc;
}

.ls-text-dark {
	color: #4d4c4c;
}

.ls-bg-green {
	background-color: #2ccb69;
}

.ls-bg-black {
	background-color: #000;
}

.ls-bg-light {
	background-color: #bcbcbc;
}

.ls-bg-dark {
	background-color: #4d4c4c;
}

.ls-title {
	font-family: "Abril Fatface";
	font-weight: normal;
	font-size: 24px;
}

.ls-title-size-80 {
	font-size: 80px;
	white-space: nowrap;
	width: auto;
}

.ls-full-height {
	height: 100vh;
}




/* STATE CLASSES*/
.ls-is-open {
	display: block;
}

.ls-change-position-icon {
	background-position-y: -45px;
}

.ls-fade-out {
	animation: fadeOut 2s forwards ease-out ;
}