* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	to {
		opacity: 0;
	}
}

@keyframes fadeFromLeft {
	to {
		left: 0;
		opacity: 1;
	}
}

@keyframes scaleRight {
	to {
		transform: scaleX(1);
	}
}

@keyframes scaleUp {
	to {
		transform: scale(1);
	}
}

@keyframes lineDown {
	0% {
		opacity: 0;
		transform: scale(1, 0);
		transform-origin: top center;
	}

	50% {
		opacity: 1;
	}
}

@keyframes arrowDown {
	0% {
		bottom: 25px;
		opacity: 0;
	}

	30% {
		bottom: 8px;
		opacity: 1;
	}
}

@keyframes slideTopIn {
	to {
		top: 15%;
	}
}

p {
	font-family: "Open Sans", sans-serif;
}

@keyframes skeletonBlur {
	to {
		background-position: 550% -150px;
	}
}

@media screen and (min-width: 320px) {
	.ls-topbar {
		width: 100%;
		height: 110px;
		display: block;
		background-color: transparent;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
	}

	.ls-logo {
		/* width: 74px;
		height: 110px; */
		width: 60px;
		height: 82px;
		background-color: #2ccb69;
		float: left;
		margin-left: 60px;
		border-bottom-right-radius: 38px;
	}

	.ls-logo img {
		width: 40px;
		height: 25px;
		display: block;
		margin: 30px auto 0 auto;
	}

	.ls-page-wrapper,
	.ls-preloader-inner {
		width: 100%;
		height: 100vh;
		display: table;
		background-color: #1c1c1c;
		border: 30px solid #000;
	}

	.ls-first-section {
		height: calc(100vh - 30px);
	}

	.ls-preloader-inner {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		position: fixed;
		z-index: 10;
	}

	.ls-overlay,
	.ls-menu-mobile-overlay {
		width: 100%;
		height: 100vh;
		display: none;
		position: fixed;
		background-color: #006627fd;
		z-index: 2000;
		opacity: 0;


	}

	.ls-modal {
		width: 700px;
		display: none;
		position: absolute;
		top: -100%;
		right: 0;
		left: 0;
		margin: 0 auto;
		padding: 30px;
		z-index: 3000;
	}

	.ls-modal .ls-modal-header {
		width: 100%;
		display: table;
		position: relative;
	}

	.ls-modal-header .ls-modal-close {
		width: 37px;
		height: 37px;
		font-family: "Open Sans";
		background-color: #1c1c1c;
		color: #2ccb69;
		display: block;
		text-align: center;
		line-height: 37px;
		border-radius: 18px;
		cursor: pointer;
		position: absolute;
		top: -20px;
		right: -20px;
	}

	.ls-modal-body {
		display: block;
		width: 100%;
	}

	.ls-form {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		justify-content: space-between;
		gap: 15px;
	}

	.ls-form-row-medium {
		flex-basis: 47%;
	}

	.ls-form-row-large {
		flex-basis: 100%;
	}

	form label {
		font-family: "Open Sans", sans-serif;
		font-size: 14px;
	}

	.ls-field {
		background-color: #2f2f2f;
		color: #bcbcbc;
		width: 100%;
		font-size: 16px;
		text-indent: 15px;
		border: none;
		border-radius: 4px;
		margin-top: 5px;
	}

	.ls-field-medium {
		height: 45px;
	}

	.ls-field-large {
		height: 90px;
	}

	.ls-require {
		align-self: flex-end;
	}

	.ls-require button {
		display: block;
		width: 100%;
	}

	.ls-menu {
		border: none;
		display: none;
	}

	.ls-menu-mobile {
		background-color: #000;
		display: block;
		width: 240px;
		height: 100vh;
		position: fixed;
		top: 0;
		padding: 100px 0 0 20px;
		z-index: 3000;
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	.ls-menu-mobile-is-closed {
		right: -240px;
	}

	.ls-menu-mobile-is-open {
		right: 0;
	}

	.ls-menu-mobile a {
		font-family: "Open Sans", sans-serif;
		color: #fff;
		display: block;
		width: 100%;
		height: 60px;
		line-height: 60px;
		text-decoration: none;
	}

	.ls-btn-menu-mobile {
		background-color: #2ccb69;
		display: block;
		width: 42px;
		height: 42px;
		line-height: 40px;
		text-align: center;
		position: fixed;
		top: 40px;
		right: 40px;
		border-radius: 50%;
		border: none;
		z-index: 3000;
		cursor: pointer;
	}

	.ls-btn-menu-mobile ion-icon {
		vertical-align: middle;
	}

	.ls-box-info {
		display: table;
	}

	.ls-contact-info {
		width: 245px;
		height: 165px;
		display: none;
		border: none;
		padding: 25px;
		position: fixed;
		bottom: 115px;
		right: 65px;
		z-index: 2;
	}

	.ls-contact-info p {
		font-size: 16px;
		line-height: 24px;
	}

	.ls-social-links,
	.ls-social-links-circle {
		width: 100%;
		height: 45px;
		display: flex;
		justify-content: space-between;
		padding-right: 70px;
	}

	.ls-social-links-circle {
		width: 70%;
		padding: 0;
	}

	.ls-social {
		width: 45px;
		height: 45px;
	}

	.ls-social-links-circle .ls-social {
		border-radius: 50%;
		transition: all 0.3s ease-out;
	}

	.ls-social-links-circle .ls-social ion-icon {
		display: block;
		margin: 0 auto;
		height: 100%;
	}

	.ls-social-links-circle .ls-social:hover {
		background-color: #000;
		color: #2ccb69;
		transform: scale(0.9);
	}


	.ls-social>img {
		height: 50%;
	}

	.ls-corner {
		width: 100%;
		position: relative;
		left: 195px;
	}

	.ls-corner .ls-corner-icon {
		width: 25px;
		height: 25px;
		display: block;
	}

	.ls-btn-contact {
		width: 40px;
		height: 40px;
		display: block;
		background-color: #2ccb69;
		background-image: url(../images/icon-contact-close.svg);
		background-repeat: no-repeat;
		background-position-x: -2px;
		background-position-y: -3px;
		position: fixed;
		bottom: 36px;
		right: 40px;
		border: none;
		border-radius: 50%;
		z-index: 2;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
	}

	/* --- HOME --- */
	.ls-display-text {
		margin-top: 6%;
	}

	.ls-home-presentation {
		position: relative;
		background-image: url("../images/joao-lemon-designer-home.png");
		background-size: 63vh auto;
		background-repeat: no-repeat;
		background-position: 50% bottom;
	}

	.ls-title-home-presentation {
		font-size: 2em;
		margin-top: 12vh;
		text-align: center;
	}

	.ls-home-presentation p {
		text-align: center;
		font-size: 0.8em;
	}

	.ls-home-presentation button {
		margin: 15px auto 0 auto;

	}

	.ls-scroll-down {
		width: 50px;
		height: 90px;
		display: block;
		background-color: #2ccb69;
		border-radius: 35px 35px 0 0;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	.ls-scroll-arrow {
		width: 15px;
		height: 65px;
		position: absolute;
		bottom: 15px;
		left: 0;
		right: 0;
		margin: 0 auto 10px auto;
	}

	.ls-scroll-arrow:before {
		content: "";
		display: block;
		background-color: #000;
		width: 2px;
		height: 31px;
		position: absolute;
		bottom: 15px;
		left: 0;
		right: 0;
		margin: 0 auto;
		animation: lineDown 1.5s infinite ease-out;
	}

	.ls-scroll-arrow img {
		display: block;
		width: 15px;
		height: 10 px;
		position: absolute;
		bottom: 8px;
		left: 0;
		right: 0;
		margin: 0 auto;
		animation: arrowDown 1.5s infinite ease-out;
	}

	/* HOME - PORTFOLIO */

	.ls-portfolio-navigator {
		width: 145px;
		height: 200px;
		display: table;
		position: absolute;
		left: 0;
		bottom: 0
	}

	.ls-navigator-counter {
		width: 100%;
		height: 90px;
		display: block;
		margin-bottom: 50px;
		position: relative;
	}

	.ls-navigator-counter:before {
		content: "";
		width: 35px;
		height: 100%;
		display: block;
		background-color: #1c1c1c;
		position: absolute;
		top: 2px;
		left: 0;
	}

	.ls-navigator-counter span {
		font-family: "Open Sans", sans-serif;
		font-size: 120px;
		font-weight: 600;
		line-height: 90px;
	}

	.ls-item-navigator {
		width: 100%;
		display: table;
	}

	.ls-item-navigator a {
		background-color: #4d4c4c;
		width: 20px;
		height: 1px;
		display: block;
		margin-bottom: 30%;
		margin-left: 35px;
	}

	.ls-item-navigator a.ls-item-active {
		background-color: #2ccb69;
		width: 50%;
	}

	.ls-item-navigator a:last-child {
		margin-bottom: 30px;
	}

	.ls-items-next-prev {
		background-color: #2c2c2c;
		width: 100%;
		height: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 23px;
	}

	.ls-items-next-prev>div {
		height: 32px;
	}

	.ls-items-counter {
		font-family: "Open Sans", sans-serif;
		color: #4d4c4c;
		line-height: 32px;
	}

	.ls-items-counter span:nth-child(1) {
		color: #bcbcbc;
	}

	ion-icon {
		font-size: 32px;
	}

	.ls-item-next,
	.ls-item-prev {
		color: #2ccb69;
		cursor: pointer;
	}

	.ls-slider-container {
		display: block;
		overflow: hidden;
	}

	.ls-slider-list {
		width: auto;
		height: 700px;
		display: block;
		list-style: none;
	}

	.ls-portfolio-list {
		list-style: none;
	}

	.ls-slider-list .ls-portfolio-item {
		display: block;
		height: 500px;
		float: left;
		position: relative;
		top: 0%;
	}

	.ls-portfolio-list .ls-portfolio-item {
		margin-bottom: 100px;
	}

	.ls-slider-list .ls-portfolio-item-info {
		width: calc(100% - 40px);
		display: table;
		margin-top: 30px;
		position: relative;
		left: -75px;
		opacity: 0;
	}

	.ls-portfolio-list .ls-portfolio-item-info {
		width: calc(100% - 75px);
		margin: 60px 20px 0 0;
	}

	.ls-slider-list .ls-portfolio-item-info h1,
	.ls-slider-list .ls-portfolio-item-info p {
		text-align: center;
	}

	.ls-slider-list .ls-portfolio-item-info button {
		margin: 0 auto;
	}

	.ls-title-large {
		font-size: 48px;
	}

	.ls-slider-list .ls-portfolio-item-thumb,
	.ls-portfolio-list .ls-portfolio-item-thumb {
		width: 100%;
		display: table;
		padding: 30px 0 13px 0;
		margin-top: 20px;
		position: relative;
	}

	.ls-slider-list .ls-portfolio-item-box {
		width: 100%;
		height: 100%;
		display: block;
		background-color: #2c2c2c;
		position: absolute;
		top: 0;
		left: 0;
		transform: scaleX(0);
		transform-origin: right;
	}

	.ls-portfolio-list .ls-portfolio-item-box {
		width: 100%;
		height: 100%;
		display: block;
		background-color: #2c2c2c;
		position: absolute;
		top: 0;
		left: 0;
	}

	.ls-slider-list .ls-portfolio-item-thumb img {
		width: 90%;
		max-width: 100%;
		height: auto;
		display: block;
		position: relative;
		left: 5%;
		transform: scale(0);
		transform-origin: center;
	}

	.ls-portfolio-list .ls-portfolio-item-thumb img {
		width: 100%;
		max-width: 100%;
		height: auto;
		display: block;
		position: relative;
		left: -50px;
	}

	.ls-slider-list .ls-portfolio-item-thumb > button {
		margin: 15px auto 0 auto;
	}

	.ls-portfolio-list .ls-portfolio-item-thumb > button  {
		margin-top: 15px 70px 0 0;
		float: right;
	}

	/* PORTFOLIO */
	.ls-portfolio-list .ls-portfolio-item:nth-child(odd) .ls-portfolio-item-info {
		text-align: right;
	}

	.ls-portfolio-list .ls-portfolio-item:nth-child(odd) .ls-portfolio-item-info button {
		float: right;
	}

	.ls-portfolio-list .ls-portfolio-item:nth-child(even)>.row {
		flex-direction: row-reverse;
	}

	.ls-portfolio-list .ls-portfolio-item:nth-child(even) .ls-portfolio-item-thumb img {
		left: 50px;
	}

	.ls-portfolio-list .ls-portfolio-item:nth-child(even) .ls-portfolio-item-thumb button {
		margin-left: 50px;
		float: left;
	}

	.ls-portfolio-list .ls-portfolio-item:nth-child(even) .ls-portfolio-item-info {
		margin-left: 75px;
	}

	/* ABOUT ME */

	#ls-avatar-about-me img {
		position: relative;
		left: -15px;
	}

	.ls-box-img {
		width: 100%;
		display: table;
	}

	.ls-page-list li::before {
		content: "";
		background-color: #2ccb69;
		width: 8px;
		height: 8px;
		display: block;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
		margin: 7px 0;
	}

	.ls-page-list li {
		font-size: 14px;
		line-height: 22px;
		margin: 7px 0;
		padding-left: 20px;
		position: relative;
	}

	/* MANAGE IT */

	.ls-hero {
		display: block;
		height: 500px;
		background-image: url("../pages/portfolio/img/hero.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.ls-hero h1 {
		margin-bottom: 50px;
	}

	.ls-hero p:not(.ls-hero p:last-child) {
		margin-bottom: 15px;
	}

	.ls-hero-inner {
		height: 500px;
	}

	.ls-hero-inner-content {
		position: relative;
		z-index: 1;
		/* Stacking content */
	}

	.ls-hero-inner-content:before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.85);
		position: absolute;
		top: -65px;
		left: -65px;
		box-sizing: content-box;
		padding: 65px;
		z-index: -1;
		/* Stacking content */
	}

	.ls-project-stats {
		width: 95%;
		height: 100%;
		display: table;
		border-right: 1px solid #2ccb69;
	}

	.ls-post {
		width: 100%;
		display: table;
	}

	.ls-post p {
		margin-bottom: 15px;
	}

	.ls-post-section {
		display: table;
		width: 100%;
		padding: 45px 0;
	}

	.ls-pre-gallery {
		display: block;
		padding-bottom: 300px;
	}

	.ls-post-gallery {
		display: block;
		max-height: 1296px;
	}

	.ls-post-gallery>.container {
		position: relative;
		top: -270px;
	}

	.ls-post-gallery .ls-thumb-img {
		cursor: pointer;
	}

	.ls-gallery-frame-container {
		display: table;
		position: fixed;
		top: 50px;
		right: 0;
		left: 0;
		margin: 0 auto;
		z-index: 3000;
	}

	.ls-gallery-frame-inner {
		width: 100%;
		height: 100%;
		display: none;
		position: relative;
	}

	.ls-gallery-frame-inner .ls-skeleton-loading {
		background-color: #fff;
		width: 87%;
		height: 95%;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 8%;
		left: 7%;
		z-index: 3500;
	}

	.ls-gallery-frame-inner .ls-skeleton-loading>div {
		background-color: #dedede;
		width: 90%;
		border-radius: 9px;
		background-image: url("../images/skeleton-loading-blur.svg");
		background-repeat: no-repeat;
		background-position: -550% -150px;
		animation: skeletonBlur 2s infinite ease-out;
	}

	.ls-gallery-frame-inner .ls-skeleton-loading>div:first-child,
	.ls-gallery-frame-inner .ls-skeleton-loading>div:last-child {
		height: 15%;
		margin-top: 3%;
		margin-bottom: 7%;
	}

	.ls-gallery-frame-inner .ls-skeleton-loading>div:nth-child(2) {
		height: 60%;
		margin: 0% 0 4% 0;
	}


	.ls-gallery-frame {
		display: block;
		width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 4000;
		border: none;
	}

	.ls-close-gallery {
		width: 44px;
		height: 44px;
		background-color: #000;
		text-align: center;
		line-height: 2px;
		position: absolute;
		top: -30px;
		right: -40px;
		border-radius: 50%;
		border: none;
		cursor: pointer;
	}

	.ls-close-gallery ion-icon {
		height: 20px;
		width: 20px;
		color: #2ccb69;
	}

	.ls-gallery-frame-img {
		display: block;
		width: 87%;
		height: auto;
		max-width: 87%;
		margin: 0 auto;
		border-radius: 22px;
		z-index: 3000;
		position: relative;
		top: 16px;
	}

	.ls-gallery-frame-inner .ls-items-next-prev {
		width: 50%;
		height: 30px;
		position: absolute;
		bottom: -70px;
		right: 0;
		left: 0;
		margin: 0 auto;
	}

	.ls-gallery-frame-inner .ls-items-next-prev ion-icon {
		height: 20px;
		margin-top: 6px;
	}

}

@media screen and (min-width: 576px) {
	.ls-logo {
		width: 74px;
		height: 110px;
	}

	.ls-logo img {
		width: 46px;
		height: 31px;
	}

	.ls-home-presentation {
		background-size: 65% auto;
		background-position: 50% 105%;
	}

	.ls-title-home-presentation {
		margin-top: 10vh;
	}
}

@media screen and (min-width: 620px) {
	.ls-home-informations {
		max-width: 285px;
	}

	.ls-title-home-presentation {
		text-align: left;
	}

	.ls-home-presentation p {
		text-align: left;
		margin-top: 15px;
	}

	.ls-home-presentation button {
		margin: 15px 0 0 0;
		height: 38px;
		line-height: 38px;
		padding: 0 27px;
		border-radius: 19px;
		font-size: 14px;
	}
}

@media screen and (min-width: 768px) {
	.ls-home-presentation {
		background-size: 90vh auto;
		background-position: 50% bottom;
	}

	.ls-home-informations {
		max-width: 310px;
	}


}

@media screen and (min-width: 992px) {
	.ls-logo {
		width: 64px;
		height: 90px;
	}

	.ls-logo img {
		width: 40px;
		height: 45px;
	}

	.ls-menu {
		display: table;
		float: left;
		height: 110px;
		margin-left: 30px;
		padding-top: 50px;
	}

	.ls-menu-mobile,
	.ls-btn-menu-mobile {
		display: none;
	}

	.ls-menu a {
		font-family: "Open Sans", sans-serif;
		font-weight: 400;
		font-size: 16px;
		color: #e7e5e5;
		border: none;
		text-transform: uppercase;
		text-decoration: none;
		position: relative;
		margin: 5px;
	}

	.ls-menu a:first-child {
		margin-left: 0;
	}

	.ls-menu a:hover {
		color: #2ccb69;
		font-weight: 600;
	}

	.ls-menu a:before {
		content: "";
		display: block;
		background-color: #2ccb69;
		width: 100%;
		height: 3px;
		position: absolute;
		bottom: -6px;
		left: 0;
		transition: all 0.2s ease-in;
		transform: scale(0, 1);
		transform-origin: left;
	}

	.ls-menu a:hover:before {
		transform: scale(1, 1);
	}

	.ls-home-informations {
		max-width: 380px;
	}

	.ls-title-home-presentation {
		font-size: 3em;
		margin-top: 10vh;
	}

	.ls-home-presentation p {
		font-size: 1em;
	}

	.ls-portfolio-navigator {
		width: 130px;
		top: 30%;
	}

	.ls-navigator-counter:before {
		width: 30px;
	}

	.ls-navigator-counter span {
		font-size: 100px;
	}

	.ls-slider-list .ls-portfolio-item {
		top: 20%;
	}
	
	.ls-slider-list .ls-portfolio-item-info {
		margin-top: 53px;
	}

	.ls-slider-list .ls-portfolio-item-info h1,
	.ls-slider-list .ls-portfolio-item-info p {
		text-align: left;
	}

	.ls-title-large {
		font-size: 38px;
	}

	.ls-slider-list .ls-portfolio-item-info button {
		margin: 0;
	}

	/* .ls-slider-list .ls-portfolio-item-thumb {
		padding: 30px 0 13px 0;
	} */

	.ls-slider-list .ls-portfolio-item-thumb img {
		width: 120%;
		max-width: 120%;
		left: -105px;
	}

	.ls-slider-list .ls-portfolio-item-thumb > button {
		margin-right: 7%;
		margin-left: 0;
		float: right;
	}
}

@media screen and (min-width: 1200px) {

	.ls-home-informations {
		max-width: 420px;
	}

	.ls-title-home-presentation {
		margin-top: 15vh;
	}

	.ls-home-presentation p {
		font-size: 1.2em;
	}

	.ls-title-large {
		font-size: 50px;
	}

	.ls-portfolio-navigator {
		width: 130px;
		top: 30%;
	}

	.ls-navigator-counter:before {
		width: 35px;
	}

	.ls-navigator-counter span {
		font-size: 120px;
	}

	.ls-slider-item-info {
		margin-top: 30px;
	}

	.ls-slider-list .ls-portfolio-item {
		top: 15%;
	}

	.ls-slider-list .ls-portfolio-item-thumb {
		padding: 75px 0 13px 0;
	}

	.ls-slider-list .ls-portfolio-item-thumb img {
		width: 100%;
		max-width: 100%;
		left: -75px;
	}

	.ls-slider-list .ls-portfolio-item-thumb > button {
		margin-right: 70px;
	}
}

@media screen and (min-width: 1364px) {}

/* Buttons */
.ls-btn {
	display: table;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	text-align: center;
	border: none;
	transition: all 0.15s ease-out;
	cursor: pointer;
	position: relative;
}

.ls-btn ion-icon {
	font-size: 20px;
	vertical-align: middle;
	margin-left: 3px;
}

.ls-btn-small {
	height: 2.2em;
	line-height: 2.2em;
	padding: 0px 11px;
	border-radius: 19px;
	font-size: 14px;
}

.ls-btn-medium {
	height: 38px;
	line-height: 38px;
	padding: 0 27px;
	border-radius: 19px;
	font-size: 14px;
}

.ls-btn-large {
	height: 45px;
	line-height: 45px;
	padding: 0 32px;
	border-radius: 23px;
	font-size: 16px;
}

.ls-btn-green {
	background-color: #2ccb69;
	color: #000;
}

.ls-btn-green:hover {
	color: #f5f5f5e8;
	transform: scale(1.1);
}

.ls-btn-dark {
	background-color: #151515;
	color: #2ccb69;
}

.ls-btn-dark:hover {
	background-color: #313131;
	color: #f5f5f5e8;
	transform: scale(1.1);
}

/*Utiliraty Classes*/
.ls-mar-top-15 {
	margin-top: 15px;
}

.ls-mar-right-15 {
	margin-right: 15px;
}

.ls-mar-bottom-15 {
	margin-bottom: 15px;
}

.ls-mar-left-15 {
	margin-left: 15px;
}

.ls-mar-top-30 {
	margin-top: 30px;
}

.ls-mar-right-30 {
	margin-right: 30px;
}

.ls-mar-bottom-30 {
	margin-bottom: 30px;
}

.ls-mar-left-30 {
	margin-left: 30px;
}

.ls-pad-top-15 {
	padding-top: 15px;
}

.ls-pad-right-15 {
	padding-right: 15px;
}

.ls-pad-bottom-15 {
	padding-bottom: 15px;
}

.ls-pad-left-15 {
	padding-left: 15px;
}

.ls-pad-top-30 {
	padding-top: 30px;
}

.ls-pad-right-30 {
	padding-right: 30px;
}

.ls-pad-bottom-30 {
	padding-bottom: 30px;
}

.ls-pad-left-30 {
	padding-left: 30px;
}

.ls-section-offset-top {
	margin-top: 100px;
}

.ls-text-green {
	color: #2ccb69;
}

.ls-text-black {
	color: #000;
}

.ls-text-light {
	color: #bcbcbc;
}

.ls-text-dark {
	color: #4d4c4c;
}

.ls-bg-green {
	background-color: #2ccb69;
}

.ls-bg-black {
	background-color: #000;
}

.ls-bg-light {
	background-color: #bcbcbc;
}

.ls-bg-dark {
	background-color: #4d4c4c;
}

.ls-title {
	font-family: "Trocchi";
	font-weight: normal;
}

.ls-subtitle {
	font-family: "Open Sans";
	font-weight: 800;
}

.ls-title-size-62 {
	font-size: 62px;
}

.ls-text-center {
	text-align: center;
}

.ls-full-height {
	position: relative;
	height: 100vh;
}

.ls-no-padding {
	padding: 0;
}

.ls-no-radius-left {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.ls-no-radius-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.ls-img-responsive {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
}

.ls-page-list {
	list-style: none;
	font-family: "Open Sans", sans-serif;
	margin-left: 2px;
}

/* STATE CLASSES*/
.ls-is-open {
	display: block;
}

.ls-change-position-icon {
	background-position-y: -45px;
}

.ls-fade-in {
	animation: fadeIn 0.3s forwards linear;
}

.ls-fade-out {
	animation: fadeOut 1s forwards linear;
}

.ls-fade-from-left {
	animation: fadeFromLeft 0.3s 0.7s forwards ease-in-out;
}

.ls-scale-right {
	animation: scaleRight 0.7s 0.2s forwards cubic-bezier(0, 1.01, 0.32, 1);
}

.ls-scale-up {
	animation: scaleUp 0.5s 0.4s forwards cubic-bezier(0, 1.01, 0.32, 1);
}

.ls-slide-top-in {
	animation: slideTopIn 0.6s forwards cubic-bezier(0.47, 1.1, 0.62, 1.13);
}