@keyframes box-animation {
  from {
    width: 200px;
    height: 200px;
    background-color: blue;
  }
  to {
    width: 400px;
    height: 100px;
    background-color: red;
  }
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  height: 800px;
  display: table;
  background-color: rgb(211, 211, 211);
  margin: 100px auto;
}

.square {
  display: block;
  width: 200px;
  height: 200px;
  background-color: blue;
  transition: all 3s ease-in;
  animation: box-animation 3s forwards;
}
